<section>
  <h1>Member</h1>
  <p>List of member</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Mobile</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
      <tr id="member-<%= member.id %>">
        <td><%= member.name %></td>
        <td><%= member.birth_date %></td>
        <td><%= member.mobile %></td>
        <td>
          <div>
            <%= link_to 'Edit', edit_member_path(member) %> | 
            <%= link_to 'Delete', member_path(member), method: :delete, data: { confirm: 'Are you sure ?', remote: true } %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div>
    <% if Member.count < Rails.configuration.max_member %>
      <%= link_to 'Add', new_member_path %>
    <% else %>
      <p>Maximum number of member is <%= Rails.configuration.max_member %>. You are free to delete some members to clear space before add new one :)</p>
    <% end %>
  </div>
</section>
